<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<PackageReference Include="libsodium" Version="1.0.18.4" />
	<connectionStrings>
		<add name="Palacio"
             connectionString="Server=120.0.0.1;Port=3306;Database=palacio;Uid=McBlockier;Pwd=root;"
             providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>